
#console {
	padding-top: 10px;
	width: 100%;
	height: 300px;	
	border: 1px solid black;
	overflow: scroll;
}

label {
	width: 100px;
	text-align: right;
	display: inline-block;
}

form {
	padding-bottom: 30px;
}
